.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	position: sticky;
	top: 0;
	background: var(--black01);
	backdrop-filter: blur(45px);
	padding: 20px;
	z-index: 3;

	@media (width < 768px) {
		gap: 20px;
		padding: 10px;
	}
}

.header button {
	background: transparent;
	border: none;
	padding: 0;
	margin: 0 15px 0 auto;

	@media (width < 768px) {
		margin: 0 20px 0 auto;
	}
}
