.buttonBack {
	width: max-content;
	height: auto;
	font-size: 20px;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--black01);
	background: var(--azure00);
	border: none;
	border-radius: 8px;
	padding: 10px;
	margin: 0 0 10px;
	cursor: pointer;
	user-select: none;
	transition-property: background;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;

	@media (width > 1024px) {
		&:hover {
			background: var(--white01);
		}
	}

	@media (width < 768px) {
		font-size: clamp(1rem, 0.7794rem + 0.9804vw, 1.25rem); /* 16-20 */
	}
}

.container {
	display: grid;
	grid-template-columns: 1fr 9fr;
}

.result {
	width: min(100%, 800px);
	border-radius: 8px;
	background: var(--white00);
	margin: 30px auto 0;
}

.resultTitle {
	font-size: 30px;
	text-align: center;
	color: var(--white);
	margin: 0 0 30px;

	@media (width < 768px) {
		font-size: clamp(1.25rem, 0.6985rem + 2.451vw, 1.875rem); /* 20-30 */
	}
}

.resultSubtitle {
	font-size: 20px;
	color: var(--main);

	@media (width < 768px) {
		font-size: clamp(1rem, 0.7794rem + 0.9804vw, 1.25rem); /* 16-20 */
	}
}

.resultButtonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.resultButton {
	width: max-content;
	height: auto;
	font-size: 20px;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--black01);
	background: var(--azure00);
	border: none;
	border-radius: 8px;
	padding: 10px;
	margin: 0 auto 10px;
	cursor: pointer;
	user-select: none;
	transition-property: color, background;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;

	@media (width > 1024px) {
		&:hover {
			color: var(--white01);
			background: var(--black01);
		}
	}

	@media (width < 768px) {
		font-size: clamp(1rem, 0.7794rem + 0.9804vw, 1.25rem); /* 16-20 */
	}
}