.selectContainer {
	width: 100%;
	height: max-content;
	border: 1px solid #178cfb;
	border-radius: 8px;
}

.select {
	width: 100%;
	font-size: 16px;
	text-align: left;
	color: #ffffff;
	background: #178cfb;
	border: none;
	border-radius: 8px 8px 0 0;
	padding: 10px;
	margin: 0;
	cursor: pointer;
}

.optionList {
	display: flex;
	flex-flow: column;
	gap: 10px;
	padding: 0 10px 10px;
	margin: 10px 0 0;
}

.reset {
	width: 100%;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	background-color: #24374e;
	border: none;
	border-radius: 0 0 8px 8px;
	padding: 5px;
	margin: 0;
	cursor: pointer;
}
