:root {
	--main: #1F2833;
	--white00: #ffffff;
	--white01: #f4eee6;
	--grey00: #C5C6C7;
	--blue01: #178cfb;
	--azure00: #66FCF1;
	--greyAzure00: #45A29E;
	--black00: #000000;
	--black01: #0B0C10;
}

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	min-height: 100vh;
	height: auto;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-rows: max-content 1fr;
}

.main {
	background: var(--main);
	padding: 20px;

	@media (width < 768px) {
		padding: 10px;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: clamp(2.875rem, 2.375rem + 0.625vw, 3.125rem); /* 46-50*/
	text-align: center;
	color: var(--azure00);
	margin: 0 0 30px;

	@media (width < 1280px) {
		font-size: clamp(2.5rem, 1rem + 2.3438vw, 2.875rem); /* 40-46 */
	}

	@media (width < 1024px) {
		font-size: clamp(2.25rem, 1.5rem + 1.5625vw, 2.5rem); /* 36-40 */
	}

	@media (width < 768px) {
		font-size: clamp(1.875rem, 1.5433rem + 1.4742vw, 2.25rem); /* 30-36 */
	}
}

.ant-popover {
	/* width: auto;
	max-width: 90%; */
	background: var(--azure00);
	border-radius: 8px;

	@media (width < 1280px) {
		scale: 0.9 1;
	}
}

.ant-popover .ant-popover-inner,
.ant-popover .ant-popover-arrow::before {
	background: var(--azure00);
}

.logo {
	font-size: 80px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: transparent;
	background: url('../../public/images/preview/preview.jpg') no-repeat 50% 50% /
		cover;
	background-clip: text;
	margin: 0;
	pointer-events: none;
	cursor: pointer;

	@media (width < 1280px) {
		font-size: clamp(3,75rem, 5,25rem + -3,125vw, 5rem); /* 60-80 */
	}

	@media (width < 768px) {
		font-size: clamp(2.5rem, 1.3971rem + 4.902vw, 3.75rem); /* 40-60 */
	}
}

.logoLink {
	pointer-events: all;
}

.ant-form-item-explain-error {
    font-size: 20px;
    padding: 10px 0;

    @media (width < 768px) {
		font-size: clamp(1rem, 0.7794rem + 0.9804vw, 1.25rem); /* 16-20 */
	}
}