.result {
	width: min(100%, 800px);
	border-radius: 8px;
	background: var(--white00);
	margin: 30px auto 0;
}

.title {
	font-size: 30px;
	text-align: center;
	color: var(--main);
	margin: 0 0 30px;

	@media (width < 768px) {
		font-size: clamp(1.25rem, 0.6985rem + 2.451vw, 1.875rem); /* 20-30 */
	}
}

.subtitle {
	font-size: 20px;
	color: var(--main);

	@media (width < 768px) {
		font-size: clamp(1rem, 0.7794rem + 0.9804vw, 1.25rem); /* 16-20 */
	}
}

