.item {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	background: var(--white00);
	border: 1px solid var(--blue01);
	border-radius: 8px;
	padding: 5px 10px;

	@media (width < 768px) {
		font-size: clamp(1rem, 0.7794rem + 0.9804vw, 1.25rem); /* 16-20 */
	}
}

.buttonContainer {
	display: flex;
	align-items: center;
	gap: 10px;
}

.button {
	width: 40px;
	height: auto;
	aspect-ratio: 1;
	font-size: 20px;
	color: var(--white00);
	background: var(--blue01);
	border: none;
	border-radius: 8px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	user-select: none;

	@media (width < 768px) {
		width: 30px;
	}
}
