.list {
	display: flex;
	flex-flow: row wrap;
	gap: 30px;

	@media (width < 768px) {
		justify-content: center;
	}
}

.list li {
	width: 23%;
	height: auto;
	transition-property: width;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;

	@media (width < 1280px) {
		width: 31%;
	}

	@media (width < 1024px) {
		width: calc(50% - 15px);
	}

	@media (width < 768px) {
		width: min(100%, 400px);
	}
}

.listViewLine {
	flex-flow: column;
}

.listViewLine li {
	width: 100%;
}

.listViewLine figure {
	flex-flow: row;
	padding: 0 10px 0 0;
}

.listViewLine figcaption {
	padding: 10px 0;
}

.listViewLine img {
	width: 150px;
	height: 100%;
	flex-shrink: 0;
	border-radius: 8px 0 0 8px;
}

.listViewLine button {
	width: max-content;
	height: 50px;
	flex-shrink: 0;
	margin: 10px 0 0 auto;
}

.listViewLine p {
	margin: 0;
}
