.list {
	display: flex;
	flex-flow: column;
	gap: 10px;
	background: var(--azure00);
	border-radius: 8px;
	padding: 10px;
	margin: 0;
}

.item {
	border-radius: 8px;
	padding: 5px 10px;
	transition-property: background;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;

	@media (width > 1024px) {
		&:hover {
			background: var(--black01);
		}
	}
}

.itemActive {
	background: var(--black01);
}

.itemLink {
	font-size: 20px;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 20px;
	color: var(--black01);
	cursor: pointer;
	transition-property: color;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;

	@media (width > 1024px) {
		&:hover {
			color: var(--white01);
		}
	}

	@media (width < 768px) {
		font-size: clamp(1rem, 0.7794rem + 0.9804vw, 1.25rem); /* 16-20 */
	}
}

@media (width > 1024px) {
	.item:hover .itemLink {
		color: var(--white01);
	}
}

.itemActive .itemLink {
	color: var(--white01);
}